.steps {

  max-width: 1200px;
  margin: 0 auto;

  &__enumeration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__title {
    text-align: center;
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    margin-bottom: 100px;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__description {
    font-size: 15px;
    line-height: 1.55;
    font-weight: 300;
  }
}

@media (max-width: 1250px) {
  .steps {
    max-width: 960px;

    &__title {
      font-size: 36px;
      margin-bottom: 80px;
    }
    &__image {
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-width: 960px) {
  .steps {
    max-width: 720px;
    
    &__enumeration {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 80px;
    }
    &__image {
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-width: 565px) {
  .steps {
    max-width: 340px;

    &__description {
      margin-bottom: 30px;
    }
    &__enumeration {
      flex-direction: column;
      svg {
        transform: rotate(90deg);
        margin-bottom: 30px;
      }
    }
    &__title {
      font-size: 28px;
    }
    &__image {
      width: 100px;
      height: 100px;
    }
  }
}