body {
  --brand-main: hsl(0, 0%, 9%);
  --brand-secondary: hsl(0, 0%, 100%);
  --brand-accent: hsl(1, 88%, 38%);
  --brand-accent-bg: hsl(2, 100%, 7%);
  --shadow: hsl(0, 0%, 70%);
  --brand-main-cover: hsla(0, 0%, 0%, 0.5);
}